:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #2f303a;
  --description-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
.main-content {
  color: #eeeeee;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.17;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 1.17;
}

.logo-studio-footer {
  color: var(--primary-white-color);
}

.contacts {
  color: var(--description-color);
  line-height: 1.17;
  font-weight: 500;
  font-style: normal;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.navigation {
  color: var(--primary-text-color);
  line-height: 1.17;
  font-weight: 500;
}

.navigation:hover,
.navigation:focus {
  color: var(--accent-color);
}

.current-navigation {
  color: var(--accent-color);
}

.button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.features {
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  color: var(--description-color);
  line-height: 1.8;
}

.feature-text {
  color: var(--description-color);
  line-height: 1.71;
}

.title {
  font-size: 36px;
  line-height: 1.17;
}

.box-title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.about-team {
  background: #f5f4fa;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.hero {
  background-color: var(--background-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  width: 1170px;
}

.box {
  line-height: 1.8;
  flex: 1 1 calc(33.33% - 30px);
  box-sizing: border-box;
  min-width: 170px;
  padding: 50px 20px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.address {
  font-style: normal;
  color: var(--primary-white-color);
  line-height: 1.17;
}

.footer {
  background-color: var(--background-color);
}
